@keyframes animateHeading {
  0% {
    opacity: 0;
    letter-spacing: 3rem;
    transform: translateZ(8rem);
  }
  3% {
    opacity: 1;
    letter-spacing: 1.5rem;
    transform: translateZ(0);
  }
  25% {
    opacity: 1;
    letter-spacing: 1.5rem;
    transform: translateZ(0);
  }
  28% {
    opacity: 0;
    letter-spacing: 3rem;
    transform: translateZ(8rem);
  }
  100% {
    opacity: 0;
    letter-spacing: 3rem;
    transform: translateZ(8rem);
  }
}
@keyframes fadeAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.section-1 {
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background: url(../images/dark-bg.jpeg) no-repeat;
}

.banner-heading {
  height: 20rem;
  overflow: hidden;
  perspective: 50rem;
  margin-bottom: 4rem;
}
.banner-heading span {
  opacity: 0;
  width: 100%;
  color: #fff;
  display: flex;
  font-size: 12rem;
  font-weight: 400;
  position: absolute;
  letter-spacing: 3rem;
  justify-content: center;
  text-transform: uppercase;
  transform: translateZ(8rem);
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
}
.banner-heading .heading-1 {
  animation: animateHeading 12s 3s infinite;
}
.banner-heading .heading-2 {
  animation: animateHeading 12s 6s infinite;
}
.banner-heading .heading-3 {
  animation: animateHeading 12s 9s infinite;
}
.banner-heading .heading-4 {
  animation: animateHeading 12s 12s infinite;
}

.banner {
  top: 20%;
  left: 50%;
  width: 100%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
}
.banner .banner-paragraph {
  width: 30%;
  opacity: 0;
  color: #fff;
  padding: 20px;
  font-size: 4rem;
  padding: 1rem 0;
  font-weight: 400;
  visibility: hidden;
  margin: 0 auto 4rem auto;
  text-transform: uppercase;
  animation: fadeAnimation 1s 1.5s forwards;
  /*importante forwards para que no vuelva a desaparecer el texto*/
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.5);
}
.banner .banner-btn {
  opacity: 0;
  color: #fff;
  width: 30rem;
  height: 6rem;
  cursor: pointer;
  font-size: 2rem;
  overflow: hidden;
  position: relative;
  visibility: hidden;
  border-radius: 3rem;
  text-transform: uppercase;
  border: 0.1rem solid #800505;
  animation: fadeAnimation 1s 2s forwards;
  box-shadow: 1rem 2rem 3rem rgba(0, 0, 0, 0.5);
  text-shadow: 0.6rem 0.3rem 0.2rem rgba(0, 0, 0, 0.4);
  background: linear-gradient(to right, #9b0e0e, #7a1010);
}
.banner .banner-btn::before {
  top: 0;
  left: -100%;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  transition: left 0.5s;
  transform: skewX(-30deg);
  background: linear-gradient(to right, transparent, #fff, transparent);
}
.banner .banner-btn:hover::before {
  left: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: "Baloo Da 2", cursive;
}

html {
  font-size: 62.5%;
}

/*# sourceMappingURL=styles.css.map */
